* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

.light-mode{
    --color-primary: #FFFFFF;
    --color-secondary: #F56692;
    --color-white: #454e56;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #f8f8f8;
    --color-grey-6: #12181b;
}



body {
    background-color: var(--color-primary);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: initial;
}

header {
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}


// Sections
section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;

    top: 0;
    padding: 3rem 18rem;
}

.section {
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}


.sec1{
    display: none;
    transform: translateY(0) scale(1);
    background-color: slateblue;
}

.sec2{
    display: none;
    transform: translateY(0) scale(1);
    background-color: slategray;
}
.sec3{
    display: none;
    transform: translateY(0) scale(1);
    background-color: #b2becd;
}
.sec4{
    display: none;
    transform: translateY(0) scale(1);
    background-color: bisque;
}

.sec5{
    display: none;
    transform: translateY(0) scale(1);
}


.active-sect {
    display: block;
    animation: myMove 1s ease-in-out;
    @keyframes myMove {
        0% {
            transform: translateY(-100%) scaleY(0);
        }
        100% {
            transform: translateY(0%) scaleY(1);
        }
        
    }
}

// Controls
.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-50%);

    .active-btn {
        background-color: var(--color-secondary) !important;
        transition: all .4s ease-in-out;
        i {
            color: var(--color-white) !important;
        }
    }

    .control {
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey-4);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin: .7rem 0; 
        box-shadow: var(--box-shadow-1);
        i {
            font-size: 1.2rem;
            color: var(--color-grey-2);
            pointer-events: none;
        }
    }
}