<!DOCTYPE html>
<html lang="en">

<!-- head link and script -->
{{ partial "head.html" .}}

{{ $newsSass := resources.Get "news.scss" }}
{{ $newsStyle := $newsSass | resources.ToCSS | resources.Fingerprint }}

<link rel="stylesheet" href="{{ $newsStyle.RelPermalink }}" integrity="{{ $newsStyle.Data.Integrity }}" />

<body>
    <div class="new-page">
        <h1> {{ .Title}} </h1>
        <div class="news-content">
            {{ .Content }}
        </div>
    </div>

    <!-- footer copyright -->
    {{ partial "footer.html" .}}
</body>

</html>