/* Independent Component */

// Download Button
.btn-container {
    display: flex;
    margin-top: 2rem;
    align-self: flex-start;
}

.download-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    display: flex;
    align-items: center;

    overflow: hidden;
    .btn-text{
        padding: 0 2rem;
    }

    .btn-icon{
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
    }

    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .4s ease-out;
        z-index: -1;
    }


    &:hover{
        transition: all .4s ease-out;
        &::before{
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
            transition: all .4s ease-out;
        }
    }


    &:hover{
        transition: all .4s ease-out;
        &::before{
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
            transition: all .4s ease-out;
        }
    }
}



// Main Title
.main-title{
    text-align: center;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        span{
            color: var(--color-secondary);
        }
        .bg-text{
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey-5);
            transition: all .4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 6.3rem;
        }
    }

    .border {
        border-top: 2px solid;
        height: 1px;
        margin: 1rem auto 0;
        position: relative;
        width: 60%;

        &:before {
            content: '';
            height: 6px;
            position: absolute;
            top: -5px;
            margin-left: -50px;
            width: 100px;
            vertical-align: middle;
            background-color: var(--color-secondary);
        }
    }

}


// AboutCard
.about-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top:6rem;

    .block {
        text-align: center;
        background-color: var(--color-grey-5);
        padding: 30px;
        border-bottom: 2px solid transparent;
        transition: .5s all ease-in-out;
        margin-bottom: 10px;

        &:hover {
            border-bottom: 3px solid var(--color-secondary);

            .icon-box {
                transform: translateY(-10px);
                color: inherit;
                // border: inherit;
                transition: all 1s ease-out;
                &::before{
                    width: 100%;
                    height: 100%;
                    background-color: var(--color-secondary);
                    transform: translateX(0);
                    transition: all .4s ease-out;
                }
            }
        
        }

        .about-text {
            margin-top: 2rem;
            
            p {
                margin-top: 1rem;
                line-height: 1.5rem;
            }

        }

        .icon-box {
            position: relative;
            transition-duration: 0.3s;
            font-size: 50px;
            margin-left: 20px;
            margin-right: 20px;
            padding: 20px 0;
            border: 2px solid var(--color-secondary);
            border-radius: 5px 20px 5px;
            color: var(--color-secondary);

            &::before{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                z-index: -2;
                transform: translateX(0%);
                transition: all .4s ease-out;
                box-shadow: 0px 4px 20px rgba($color: #000000, $alpha: 0.8);

            }


        }

    }
}



