.article-container {
  padding-top: 4rem;
  margin: 0 auto;
  max-width: 960px;

  .title {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--color-secondary);
    margin-bottom: 6px;
    margin-top: 2rem;
  }
}