.product-page {
  padding-top: 4rem;

  // 顶部头图
  .banner {
    height: 20rem;
    position: relative;
    img {
      display: block;
      height: 100%;
      max-width: 100%;
      margin: 0 auto;
      object-fit: cover;
    }

    h1 {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
      font-size: 2rem;
      color: var(--color-white);
      text-shadow: 0 0 30px var(--color-black);
    }
  }

  // 主内容
  .container {
    padding: 1rem;
    display: flex;

    // 左侧菜单
    .side-menu {
      width: 15rem;
      flex-shrink: 0;

      & > .title {
        font-size: 1.6rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--color-secondary);
        margin-bottom: 6px;
      }

      .list {
        font-size: 1.2rem;
        padding-top: 0.2rem;

        li {
          cursor: pointer;
          font-size: 1.2rem;
          & > div {
            position: relative;
            display: flex;
            padding-left: 1.2rem;
            padding: 0.5rem 0.5rem 0.5rem 1.5rem;
            border-radius: 4px;

            i {
              width: 1.5rem;
              height: 2.2rem;
              font-size: 1rem;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 0;
              left: 0;
            }

            &:hover {
              background-color: var(--color-secondary);
              color: var(--color-primary);
              transition: all 0.1s linear;
            }
          }
          & > .list {
            padding-left: 1.5rem;
            font-size: 1.2rem;
            display: none;

            li {
              padding-left: 0;
              padding-right: 0;
            }
          }

          &.open {
            & > div {
              i {
                transform: rotate(90deg);
              }
            }

            & > .list {
              display: block;
            }
          }
        }
      }
    }

    // 右侧详细内容
    .main {
      flex-grow: 1;
      margin-left: 3rem;
      margin-right: 3rem;

      & > .title {
        font-size: 1.6rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--color-secondary);
      }

      & > .content {
        margin-top: 1rem;
        color: var(--color-grey-2);
        line-height: 1.25;

        p {
          line-height: inherit;
        }
      }
    }
  }
}

// 该页面独立的媒体查询
@media only screen and (max-width: 1000px) {
  html {
    .product-page {
      .container {
        flex-direction: column;

        .side-menu,
        .main {
          width: 100%;
          margin: 0 0 2rem;
        }
      }
    }
  }
}
