<!-- {{ $data := index site.Data site.Language.Lang}} -->
{{ $data := site.Data.main }}

<section class="section sec2 about" id="about">

<div class="main-title">
    <h2> {{ $data.about.title | safeHTML }} 
        <span class="bg-text"> {{ $data.about.backgroundTitle }}</span>
    </h2>
    <div class="border"></div>
</div>


<div class="about-cards">
{{ range $data.about.items }}

<div class="block">
    <div class="icon-box"><i class="fas {{.icon}}"></i></div>
    <div class="about-text">
        <h3>{{ .title }}</h3>
        <p>{{ .content }}</p>
    </div>
</div>

{{ end }}

</div>



</section>
