<!-- {{ $data := index site.Data site.Language.Lang}} -->
{{ $data := index site.Data.about site.Language.Lang }}

<section class="section sec2 content-sec" id="about">

    <div class="main-title">
        <h2> {{ $data.title | safeHTML }}
            <span class="bg-text" aria-hidden="true"> {{ $data.backgroundTitle }}</span>
        </h2>
        <div class="border"></div>
    </div>

    <p class="sub-title">
        {{ $data.portText }}
    </p>

    <div class="about-cards">
        {{ range $data.items }}

        <div class="block">
            <div class="icon-box"><i class="fas {{.icon}}"></i></div>
            <div class="about-text">
                <h3>{{ .title }}</h3>
                <p>{{ .content }}</p>
            </div>
        </div>

        {{ end }}

    </div>

</section>