<div class="controls">
    <div class="control control-1 active-btn" data-id="home">
        <i class="fas fa-home"></i>
    </div>
    <div class="control control-2 " data-id="about">
        <i class="fas fa-user"></i>
    </div>
    <div class="control control-3 " data-id="products">
        <i class="fas fa-dumpster"></i>
    </div>
    <div class="control control-4 " data-id="scenes">
        <i class="fas fa-binoculars"></i>
    </div>
    <div class="control control-5 " data-id="news">
        <i class="fas fa-newspaper"></i>
    </div>
    <div class="control control-6 " data-id="contact">
        <i class="fas fa-envelope-open"></i>
    </div>
</div>