{{ $data := index site.Data.contact site.Language.Lang }}


<section class="section sec6  content-sec" id="contact">
    <div class="main-title">
        <h2> {{ $data.title | safeHTML }}
            <span class="bg-text" aria-hidden="true"> {{ $data.backgroundTitle }}</span>
        </h2>
        <div class="border"></div>
    </div>

    <div class="contact-content-con">
        <div class="left-contact">
            <h4>{{ $data.subtitle }}</h4>
            <p>{{ $data.detail }} </p>

            <div class="contact-info">
                <div class="contact-item">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Location:</span>
                    </div>
                    <p>
                        <span>{{$data.location}}</span>
                    </p>
                </div>
                <div class="contact-item">
                    <div class="icon">
                        <i class="fas fa-envelope"></i>
                        <span>Email:</span>
                    </div>
                    <p>
                        <span>{{$data.email}}</span>
                    </p>
                </div>
                <div class="contact-item">
                    <div class="icon">
                        <i class="fas fa-fax"></i>
                        <span>Fax:</span>
                    </div>
                    <p>
                        <span>{{$data.fax}}</span>
                    </p>
                </div>
                <div class="contact-item">
                    <div class="icon">
                        <i class="fas fa-phone"></i>
                        <span>Mobile Number:</span>
                    </div>
                    <p>
                        <span>{{$data.phone}}</span>
                    </p>
                </div>
                <div class="contact-item">
                    <div class="icon">
                        <i class="fas fa-globe-africa"></i>
                        <span>Languages:</span>
                    </div>
                    <p>
                        <span>{{$data.languages}}</span>
                    </p>
                </div>
            </div>
            <div class="contact-icons">
                <div class="contact-icon">
                    <a href="https://www.facebock.com" target="_blank" aria-label="Facebook">
                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                        <span class="fa-sr-only">Visit our Facebook page</span>
                    </a>
                    <a href="https://wwww.twttier.com" target="_blank" aria-label="Twitter">
                        <i class="fab fa-twitter"  aria-hidden="true"></i>
                        <span class="fa-sr-only">Join us on Twitter</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="right-contact">
            <form action="" class="contact-form">
                <div class="input-control i-c-2">
                    <input type="text" required placeholder="YOUR NAME">
                    <input type="email" required placeholder="YOUR EMAIL">
                </div>
                <div class="input-control">
                    <input type="text" required placeholder="ENTER SUBJECT">
                </div>
                <div class="input-control">
                    <textarea name="" id="" cols="15" rows="8" placeholder="Message Here..."></textarea>
                </div>
                    <div class="btn-container">
                        <a href="#">
                            <button type="submit" class="btn-text">Send
                              <span class="btn-icon"><i class="fas fa-chevron-right"></i></span>
                            </button>
                            <i class="bg"></i>
                        </a>
                    </div>


            </form>
        </div>
    </div>

</section>