{{ $data := index site.Data.home  site.Language.Lang }}


<div class="footer">
    <span>
       {{ $data.copyright}}
    </span>
    <a href="{{ $data.registerUrl}}">
        {{ $data.register}}
    </a>
</div>


<script>
  // Fixes Netlify Identity email confirmation
  // Ref https://answers.netlify.com/t/common-issue-netlify-cms-git-gateway-email-not-confirmed/10690/26
  if (window.location.hash.includes('_token=')) {
    window.location.assign('/admin/' + window.location.hash);
  }
  </script>

<!-- Set Netlify CMS language -->
<script type="text/javascript">
    window.onload = function() {
      netlifyIdentity.setLocale('fr')
    }
</script>
