
{{ $data := index site.Data.head site.Language.Lang }}
{{ $categories := index (index site.Data.products site.Language.Lang) "categories"}}
{{ $scenes := index (index site.Data.scenes site.Language.Lang) "scenes"}}





<div class="header-bar">
    <div class="logo">
        <img src="/media/logo.png">
    </div>
    <div class="mainer">
        <div class="nav">
            <a class="item" href="/#home" data-id="home">{{$data.keywords.home}}</a>
            <a class="item" href="/#about" data-id="about">{{$data.keywords.about}}</a>

            <a class="item" href="/#product" data-id="product">
                <span>{{$data.keywords.product}}</span>
                <i class="fa-solid fa-angle-down"></i>
                <ul>
                    {{range $categories}}
                    <li>{{ .title }}</li>
                    {{ end }}
                </ul>
            </a>
            
            <a class="item" href="/#solution" data-id="solution">
                <span>{{$data.keywords.solution}}</span>
                <i class="fa-solid fa-angle-down"></i>
                <ul>
                    {{range $scenes}}
                    <li><i class="fa-solid {{.icon}}"></i>{{ .title }}</li>
                    {{ end }}
                </ul>
            </a>
            <a class="item" href="/#news" data-id="news">{{$data.keywords.news}}</a>
            <a class="item" href="/#contact" data-id="contact">{{$data.keywords.contact}}</a>
        </div>
        <div class="theme">
            <i class="fas fa-adjust"></i>
        </div>
        <div class="lang">{{site.Language.Lang}}</div>
        <div class="menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</div>