<div class="header-bar">
    <div class="logo"></div>
    <div class="nav">
        <a class="item active" href="/#home" data-id="home">Home</a>
        <a class="item" href="/#about" data-id="about">About</a>
        <a class="item" href="/#product" data-id="product">Product</a>
        <a class="item" href="/#solution" data-id="solution">Solution</a>
        <a class="item" href="/#news" data-id="news">News</a>
        <a class="item" href="/#contact" data-id="contact">Contact</a>
    </div>
</div>