




{{ $data := index site.Data (print "head." site.Language.Lang) }}
{{ $categories := index (index site.Data.products site.Language.Lang) "categories"}}
{{ $scenes := index (index site.Data.scenes site.Language.Lang) "scenes"}}





<div class="header-bar">
    <div class="logo">
        <img src="/media/logo.png">
    </div>
    <div class="mainer">
        <div class="nav">
            <a class="item" href="/#home" data-id="home">Home</a>
            <a class="item" href="/#about" data-id="about">About</a>

            <a class="item" href="/#product" data-id="product">
                <span>Product</span>
                <i class="fa-solid fa-angle-down"></i>
                <ul>
                    {{range $categories}}
                    <li>{{ .title }}</li>
                    {{ end }}
                </ul>
            </a>
            
            <a class="item" href="/#solution" data-id="solution">
                <span>Solution</span>
                <i class="fa-solid fa-angle-down"></i>
                <ul>
                    {{range $scenes}}
                    <li><i class="fa-solid {{.icon}}"></i>{{ .title }}</li>
                    {{ end }}
                </ul>
            </a>
            <a class="item" href="/#news" data-id="news">News</a>
            <a class="item" href="/#contact" data-id="contact">Contact</a>
        </div>
        <div class="theme">
            <i class="fas fa-adjust"></i>
        </div>
        <div class="lang">ZH</div>
        <div class="menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</div>