<!-- {{ $data := index site.Data site.Language.Lang}} -->
{{ $data := site.Data.home }}

<header class="section sec1 header active-sect" id="home">


    <div class="header-content">
        <div class="left-header">
            <div class="h-shape"></div>
            <div class="image">
                <img src="{{$data.image}}" alt="">
            </div>
        </div>

        <div class="right-header">
            <h1 class="name">{{ $data.title  | safeHTML  }}</h1>
            <p>{{ $data.shortDescription }}</p>

            <div class="btn-container">
                <a href="/files/dioxide.pdf" class="download-btn" download>
                    <span class="btn-text">View Productions</span>
                    <span class="btn-icon"><i class="fas fa-download"></i></span>
                </a>
            </div>
        </div>
    </div>
</header>