<!-- {{ $data := index site.Data site.Language.Lang}} -->
{{ $data := index site.Data (print "home." site.Language.Lang) }}


<section class="section sec1" id="home">
    <div class="left-header">
        <div class="h-shape"></div>
        <img src="{{$data.image}}" class="image">
    </div>
    <div class="right-header">
        <h1 class="name">{{ $data.title | safeHTML }}</h1>
        <p>{{ $data.shortDescription }}</p>

        <div class="btn-container">
            <a href="/files/dioxide.pdf" target="_blank">
                <span class="btn-text">View Productions</span>
                <span class="btn-icon"><i class="fas fa-eye"></i></span>
                <i class="bg"></i>
            </a>
        </div>
    </div>
</section>