{{ $data := index site.Data.news site.Language.Lang }}


<section class="section sec5 content-sec" id="news">
    <div class="main-title">
        <h2> {{ $data.title | safeHTML }}
            <span class="bg-text" aria-hidden="true"> {{ $data.backgroundTitle }}</span>
        </h2>
        <div class="border"></div>
    </div>

    <p class="sub-title">
        {{ $data.portText }}
    </p>



    <div class="news">



        {{ range first 6 (where site.RegularPages "Type" "==" "news")}}

        <div class="new" onclick="location.href = '{{ .RelPermalink }}';">

            <img src="/media/{{ path.Base .Params.image }}" alt="">
            <div class="news-text">
                <h4>{{ .Title }}</h4>
                <!-- <h5>{{ .Date }}</h5> -->
                <p>{{ .Summary }}</p>
            </div>
        </div>

        {{ end }}

    </div>
</section>