<!-- {{ $data := index site.Data site.Language.Lang}} -->
{{ $data := index site.Data.products site.Language.Lang }}

{{ $categories := index $data "categories"}}
{{ $cMapping := dict "" ""}}
{{ range $categories }}
{{ $cMapping = merge $cMapping (dict .cSlug .)}}
{{ end}}

{{ $existCategories :=  site.Taxonomies.categories }}


<section class="section sec3 content-sec" id="product">

    <div class="main-title">
        <h2> {{ $data.title | safeHTML }}
            <span class="bg-text"> {{ $data.backgroundTitle }}</span>
        </h2>
        <div class="border"></div>
    </div>

    <p class="sub-title">
        {{ $data.portText }}
    </p>


    <div class="categories">

        {{range $curCategorySlug, $curCategoryVar := $existCategories}}
        {{ $curCategoryCfg := index $cMapping $curCategorySlug}}
        {{ $firstPage := index $curCategoryVar 0}}

        <div class="category">
            <div class="image"><img src="{{$curCategoryCfg.coverImage}}" alt="">
                <h3>{{$curCategoryCfg.name}}</h3>
            </div>
            <div class="hover-items">
                <div class="show-more" onclick="handleHeaderSubMenuClick(event, '{{  $firstPage.RelPermalink  }}')"> 
                    View More
                </div>
                <p>{{$curCategoryCfg.description}}</p>
            </div>
        </div>
        {{ end }}


    </div>


</section>
