{{ $data := index site.Data.scenes site.Language.Lang }}


{{ $scenes := index $data "scenes"}}
{{ $existScenes :=  site.Taxonomies.scenes }}

{{ $sMapping := dict "" ""}}
{{ range $scenes }}
{{ $sMapping = merge $sMapping (dict .cSlug .)}}
{{ end}}




<section class="section sec4 content-sec" id="solution">
    <div class="main-title">
        <h2> {{ $data.title | safeHTML }}
            <span class="bg-text" aria-hidden="true"> {{ $data.backgroundTitle }}</span>
        </h2>
        <div class="border"></div>
    </div>

    <p class="sub-title">
        {{ $data.portText }}
    </p>

    <div class="scenes-box">
        {{range $curSceneSlug, $curSceneVar := $existScenes}}
        {{ $curSceneCfg := index $sMapping $curSceneSlug}}
        {{ $firstPage := index $curSceneVar 0}}

        <div class="item">
            <div class="img">
                <img src="{{$curSceneCfg.coverImage}}">
            </div>

            <div class="text">
                <h3><i class="fa-solid {{$curSceneCfg.icon}}"></i>{{$curSceneCfg.name}}</h3>
                <p>{{$curSceneCfg.description}}</p>
            </div>
        </div>
        {{end}}
    </div>


</section>