<!DOCTYPE html>
<html lang="en">

<!-- head link and script -->
{{ partial "head.html" .}}

<body>
    <!-- navigation header -->
    {{ partial "header.html" .}}

    <!-- section list -->
    <div class="main-content">
        {{ partial "home.html" .}}
        {{ partial "products.html" .}}
        {{ partial "about.html" .}}
        <!-- {{ partial "scenes.html" .}} -->
        {{ partial "news.html" .}}
        {{ partial "contact.html" .}}
    </div>

    <!-- footer copyright -->
    {{ partial "footer.html" .}}

</body>

</html>