<!--data-->


{{ $theme := index (index site.Data.products site.Language.Lang) "theme"}}
{{ $existtheme :=  site.Taxonomies.theme }}
{{ $cMapping := dict "" ""}}
{{ range $theme }}
{{ $cMapping = merge $cMapping (dict .cSlug .)}}
{{ end}}


{{ $curCategorySlug := index .Params.theme 0}}
{{ $curCategoryCfg := index $cMapping $curCategorySlug}}
{{ $curCategoryVar := index site.Taxonomies.theme $curCategorySlug}}

{{ $glossary := index site.Data.glossary site.Language.Lang }}

<!--data-->


<!DOCTYPE html>
<html lang="en">

<!-- head link and script -->
{{ partial "head.html" .}}


<!-- Generate CSS -->
{{ $options := (dict "enableSourceMap" true ) }}
{{ $productStyle := resources.Get "product.scss" | resources.ToCSS $options | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $productStyle.RelPermalink }}" integrity="{{ $productStyle.Data.Integrity }}" />

{{ $productStyle := resources.Get "markdown.scss" | resources.ToCSS $options | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $productStyle.RelPermalink }}" integrity="{{ $productStyle.Data.Integrity }}" />

<!-- {{ $productJs := resources.Get "product.js" }}
<script src="{{$productJs.RelPermalink}}"></script> -->

<body>
    <!-- navigation header -->
    <div class="white-header">
        {{ partial "header.html" .}}
    </div>


    <div class="product-page">
        <div class="banner">
            <img src="{{ $curCategoryCfg.coverImage }}">
            <h1> {{  $curCategoryCfg.name }} </h1>
        </div>

        <div class="container">
            <div class="side-menu">
                <!-- <div class="title">
                    {{printf "%s %s" $curCategoryCfg.name $glossary.list}}
                </div>

                <ul class="list">
                    {{range $curCategoryVar.Pages}}
                    <li onclick="location.href = '{{.RelPermalink}}'">
                        <div>
                            <span>{{.Title}}</span>
                        </div>
                    </li>
                    {{end}}
                </ul> -->
            </div>

            <div class="main">
                <div class="title">
                    {{.Title}}
                </div>
                <div class="md-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>

    <!-- footer copyright -->
    {{ partial "footer.html" .}}
</body>

</html>
